* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 2rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-left: 5%;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px auto;
    text-align: center;
    font-size: 24px;
}

p {
    font-family: 'Cabin', sans-serif;
}

img {
    max-width: 90%;
    height: auto;
    margin-bottom: 1%;
    overflow: hidden;
}

a {
    color: inherit;
}
.container-gif {
    display: inline-block;
}

.container {
    border: solid 1px grey;
    margin: 3% 5%;
}

.push-container {
    margin: 15px;
}

.push-container p {
    padding: 10px;
}
.workout-2 {
    border-top: solid 1px gray;
    margin-top: 50px;
    padding-top: 50px;
}
.panel {
    text-align: center;
    box-shadow: 0px 8px 6px -6px black;
    display: block;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.panel:visited {
    text-decoration: none;
    color: inherit;
}

.panel:active {
    box-shadow: none;
}

.panel .one {
    background-color: #46CFC5;
    
}
.panel .two {
    background-color: #CF464F;
}
.panel .three {
    background-color: #46CF82;
    color: white;
}

.panel .four {
    background-color: #4694CF;
    color: white;
}

.cabin p {
    font-family: 'cabin', sans-serif;
}

.open-sans p {
    font-family: 'Open Sans', sans-serif;
}


.raleway p {
    font-family: 'Raleway', sans-serif;
}

.roboto-condensed p {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-label {
    font-size: 30px;
    margin-bottom: 20px;
}

.reg {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.font-panel {
    display: inline-block;
    margin: 30px auto;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 0px 8px 6px -6px black;
    padding: 10px 30px;
}

.font-container {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-style {
    margin-left: 15px;
    background-color: blanchedalmond;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0px 8px 6px -6px black;

}

#heading {
    margin: 10px;
    margin-left: 15px;
}

#subheading {
    text-align: left;
    margin-left: 15px;
}

.paragraph {
    margin: 15px;
}

.text-style {
    font-family: 'cabin', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    text-align: center;
    margin: 20px;
    background-color: blanchedalmond;
    display: inline-block;
}

#submit-btn {
    background-color: rgb(36, 199, 36);
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
